.homeContainer {
    // width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;

    .buttonContainer {
        display: flex;
        flex-direction: row;
    }
    .modal{
        margin: 5vw;
    }

}

@media only screen and (max-width: 767px) {
    .homeContainer {
        overflow: hidden;
        touch-action: pan-y;
        padding-bottom: 10vh;
        

    }
}
@media only screen and (max-width: 767px) and (orientation: landscape) {
    .homeContainer {
        touch-action: auto;
        overflow: scroll;


        height: 100vh;


        // top: 100%;


        // transform: rotate(90deg);

        

    }
}

