.homeContainer {
    // width: 90vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #F2F2F2;
    overflow: hidden;
      touch-action: none;

    .buttonContainer {
        display: flex;
        flex-direction: row;
    }
    .modal{
        margin: 5vw;
    }

}

@media only screen and (max-width: 767px) {
    .homeContainer {
        height: 100vh;
        padding-bottom: 10vh;

    }
}

